.ul {
    list-style: none;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 30px;
    margin: 30px;
}

.link {
    background: white;
    width: 200px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.5) 4px 4px 9px 3px;
}

.li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    transition: color 0.5s ease;
}

.li :hover,
.li :focus {
    color: tomato;
}

.img {
    object-fit: fill;
}